<div class="navbar-fixed">
   	<nav>
        <div class="nav-wrapper menu darken-4">
        	<div class="container big">
	            <ul id="nav-mobile" class="right">
	            	<li><a href="" data-activates="slide-out" class="button-collapse" style="display: block;"><i style="font-size: 2rem" class="material-icons">menu</i></a></li>
	            </ul>
	            <ul id="nav-mobile" class="left">
	            	<li><a href="#/kezdolap" class="waves-effect"><i class="material-icons">home</i></a></li>
	            </ul>
            </div>			            
        </div>
   	</nav>
</div>			
<ul id="slide-out" class="side-nav header collapsible collapsible-accordion menu">		       
    <li class="bold sidebar-header">
       	<a href="#/kezdolap" class="waves-effect"><i class="material-icons">home</i>Kezdőlap</a>
    </li>
    <li class="bold sidebar-header">
       	<a href="#/visszajelzes" class="waves-effect"><i class="material-icons">assignment</i>Visszajelzés</a>
    </li>
    <li class="bold sidebar-header">
       	<a href="#/visszaszamlalo" class="waves-effect"><i class="material-icons">alarm</i>Visszaszámláló</a>
    </li>
    <li class="bold sidebar-header">
       	<a href="#/parkolas" class="waves-effect"><i class="material-icons">local_parking</i>Parkolás</a>
    </li>
    <li class="bold sidebar-header">
       	<a href="#/utvonal" class="waves-effect"><i class="material-icons">navigation</i>Útvonal</a>
    </li>
</ul>